* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos {
	padding: 5px 0;
	background-color: #A59909;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding: 15px 0;
	color: #A59909;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #A59909;
	color: #fff;
}
.active {
	background-color: #A59909;
	color: #fff;
}
.banner {
	height: 60vh;
	border: 1px;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(165, 153, 9, .6);
}
.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}
section {
	padding: 50px 0;
}
section h3 {
	text-align: center;
	padding: 20px 0;
	color: #A59909;
	margin-bottom: 20px;
	border: 3px solid;
}
section h2 {
	color: #A59909;
	text-align: center;
}
.kartu-tutor{
    width: 20%;
    margin: 0 auto;
}
.kartu-tutor img{
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p{
    font-family: 'comic sans ms';
    font-size: 25px;
    text-align: center;
}

#contact {
    background: #A59909;
    padding: 50px 0px 50px 0px;
}
.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background: #A59909;
    padding: 50px 0;
}
.footer-section{
    width: 20%;
    margin: 0 auto;
}
.about {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
}
.pendidikan {
	background-color: #f3f3f3;
}
.box {
	border: 1px solid;
}
.box .col-4 {
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	border: 1px;
}